.workflow
	background-color: #00c5d3
	margin-top: 5px

	h4
		text-align: center
		color: #ffffff
		font-weight: bold
		font-size: 1.6em
		margin: 15px auto 25px auto
		font-style: italic

	.categories
		display: flex
		text-align: center
		flex-wrap: wrap
		align-items: baseline

		img
			height: 90px
			margin: 5px auto
			
		figcaption
			color: #ffffff
			font-weight: bolder
			font-size: 1.2em
			padding: 10px
