main.jumbotron
	font-weight: bold
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/home/background.jpg')
	background-size: auto 100%
	background-position: right bottom
	background-repeat: no-repeat

	.upper-row
		display: flex
		text-align: justify
		h2
			text-align: center
			color: #ffe232
			font-weight: bolder
			text-shadow: 1px 1px #220022;
		p
			color: #90fcf9
	
	.lower-row
		display: flex
		color: #ffe232

		div:first-child
			justify-content: flex-start
			padding: 5px
			font-size: 1.5em
			font-weight: bolder
			button
				background-color: #ff7b10
				font-weight: bold
			p
				justify-content: flex-end



