       <!-- milk section -->
          <div class="col-sm-6 col-md-offset-2 col-md-4">
              <button type="button" data-toggle="modal" class="itembtn" data-target=".milkmodal" ng-click="vm.clickedCategory($event, 'milkClicked')">
                  <figure class="figure">
                      <img src="../images/categories/milkegg.png" class="img-responsive" alt="milkNegg">
                      <figcaption class="figure-caption">Milk N Egg</figcaption>
                  </figure>
              </button>
          </div>
        <!-- milk modal -->
          <div class="modal fade milkmodal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add short description</h4>
                  </div>
                  <div class="modal-body">
                      <form ng-submit="vm.addFood($event)" action="" method="">
                        <div class="form-group">
                          <p>Article Name : <input name"foodName" type="text"></p>
                          <p>Quantity bought :
                            <input name="quantity" type="number" min="0">
                              <select>
                                <option value="kilos">kgs</option>
                                <option value="pieces">pcs</option>
                                <option value="litres">L</option>
                              </select>
                          </p>
                          <p>Expiry Date (if available) :
                            <input name="dateExpiring" type="date">
                          </p>
                          <p>Date bought (default today) :
                            <input name="dateBought" type="date">
                          </p>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  <!-- end of modal body and form -->
                  </div> <!-- end of modal-content -->
                </div> <!-- end of modal-dialog -->
              </div> <!-- end of modal -->
          </div>

        <!-- second row-->
        <div class="row">
        <!-- fish section -->
            <div class="col-sm-6 col-md-offset-2 col-md-4">
              <button type="button" data-toggle="modal" ng-click="vm.clickedCategory($event)" class="itembtn" data-target=".fishmodal">
                <figure class="figure">
                  <img src="../images/categories/fishmeat.png" class="img-responsive" alt="fishNmeat">
                  <figcaption class="figure-caption">Fish N Meat</figcaption>
                </figure>
              </button>
            </div>
        <!-- fish modal -->
            <div class="modal fade fishmodal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">Add short description</h4>
                      </div>
                      <div class="modal-body">
                        <form ng-submit="addFood($event)" action="" method="">
                          <p>Article Name : <input ng-model="foodName" type="text"></p>
                          <p>Quantity bought :
                            <input ng-model="quantity" type="number" min="0">
                              <select>
                                <option value="kilos">kgs</option>
                                <option value="pieces">pcs</option>
                                <option value="litres">L</option>
                              </select>
                          </p>
                          <p>Expiry Date (if available) :
                            <input ng-model="dateExpiring" type="date">
                          </p>
                          <p>Date bought (default today) :
                            <input ng-model="dateBought" type="date">
                          </p>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </form>
                      </div>
                      <!-- end of modal body and form -->
                    </div> <!-- end of modal-content -->
                </div> <!-- end of modal-dialog -->
            </div> <!-- end of modal -->
        <!-- canned section -->
            <div class="col-sm-6 col-md-offset-2 col-md-4">
              <button type="button" data-toggle="modal" ng-click="vm.clickedCategory($event)" class="itembtn" data-target=".cannedmodal">
                  <figure class="figure">
                      <img src="../images/categories/frozencanned.png" class="img-responsive" alt="cannedNfrozen">
                      <figcaption class="figure-caption">Canned N Frozen</figcaption>
                  </figure>
              </button>
            </div>
        <!-- canned modal -->
            <div class="modal fade cannedmodal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add short description</h4>
                    </div>
                    <div class="modal-body">
                      <form ng-submit="addFood($event)" action="" method="">
                        <p>Article Name : <input ng-model="foodName" type="text"></p>
                        <p>Quantity bought :
                          <input ng-model="quantity" type="number" min="0">
                            <select>
                              <option value="kilos">kgs</option>
                              <option value="pieces">pcs</option>
                              <option value="litres">L</option>
                            </select>
                        </p>
                        <p>Expiry Date (if available) :
                          <input ng-model="dateExpiring" type="date">
                        </p>
                        <p>Date bought (default today) :
                          <input ng-model="dateBought" type="date">
                        </p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                      </form>
                    </div>
                  <!-- end of modal body and form -->
                </div> <!-- end of modal-content -->
              </div> <!-- end of modal-dialog -->
            </div> <!-- end of modal -->
        </div>

        <!-- third row-->
        <div class="row">
        <!-- drinks section -->
            <div class="col-sm-6 col-md-offset-2 col-md-4">
              <button type="button" data-toggle="modal" ng-click="vm.clickedCategory($event)" class="itembtn" data-target=".oilsmodal">
                  <figure class="figure">
                      <img src="../images/categories/liquidproducts.png" class="img-responsive" alt="drinksNbeverages">
                      <figcaption class="figure-caption">Oils and Beverages</figcaption>
                  </figure>
              </button>
            </div>
        <!-- drinks modal -->
            <div class="modal fade oilsmodal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add short description</h4>
                    </div>
                    <div class="modal-body">
                      <form ng-submit="addFood($event)" action="" method="">
                        <p>Article Name : <input ng-model="foodName" type="text"></p>
                        <p>Quantity bought :
                          <input ng-model="quantity" type="number" min="0">
                            <select>
                              <option value="kilos">kgs</option>
                              <option value="pieces">pcs</option>
                              <option value="litres">L</option>
                            </select>
                        </p>
                        <p>Expiry Date (if available) :
                          <input ng-model="dateExpiring" type="date">
                        </p>
                        <p>Date bought (default today) :
                          <input ng-model="dateBought" type="date">
                        </p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                      </form>
                    </div>
                    <!-- end of modal body and form -->
                  </div> <!-- end of modal-content -->
              </div> <!-- end of modal-dialog -->
            </div> <!-- end of modal -->
        <!-- others section -->
            <div class="col-sm-6 col-md-offset-2 col-md-4">
              <button type="button" data-toggle="modal" ng-click="vm.clickedCategory($event)" class="itembtn" data-target=".othersmodal">
                  <figure class="figure">
                      <img src="../images/categories/others.png" class="img-responsive" alt="others">
                      <figcaption class="figure-caption">Other Unspecified</figcaption>
                  </figure>
              </button>
            </div>
        <!-- others modal -->
          <div class="modal fade othersmodal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add short description</h4>
                    </div>
                    <div class="modal-body">
                      <form ng-submit="addFood($event)" action="/allitems" method="POST">
                        <p>Article Name : <input ng-model="foodName" type="text"></p>
                        <p>Quantity bought :
                          <input ng-model="quantity" type="number" min="0">
                            <select>
                              <option value="kilos">kgs</option>
                              <option value="pieces">pcs</option>
                              <option value="litres">L</option>
                            </select>
                        </p>
                        <p>Expiry Date (if available) :
                          <input ng-model="dateExpiring" type="date">
                        </p>
                        <p>Date bought (default today) :
                          <input ng-model="dateBought" type="date">
                        </p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                      </form>
                    </div>
                  <!-- end of modal body and form -->
                </div> <!-- end of modal-content -->
              </div> <!-- end of modal-dialog -->
          </div> <!-- end of modal -->
        </div>
    </div>
</section>