  <div class="modal-header">
    <h4 class="modal-title">Add short description</h4>
  </div>
  <!--modal footer with form -->
  <div class="modal-body">
    <form ng-submit="addFood($event)">
      <p>Article Name : <input ng-model="foodName" type="text"></p>
      <p>Quantity bought :
        <input ng-model="quantity" type="number" min="0">
        <select>
          <option value="kilos">kgs</option>
          <option value="pieces">pcs</option>
          <option value="litres">L</option>
        </select>
      </p>
      <p>Expiry Date (if available) :
        <input ng-model="dateExpiring" type="date">
      </p>
      <p>Date bought (default today) :
        <input ng-model="dateBought" type="date">
      </p>
      <div class="btn-group">
        <button type="button" ng-click="cancel()" class="btn btn-default">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
  <!-- end of modal body and form -->