<!-- <div class="container loginContainer">
    <div class="row">
        <a href="#!/">Home <i class="glyphicon glyphicon-home"></i></a>
        <form ng-submit="login()" action="" method="" role="form">
            <legend>Login</legend>
            <div class="form-group">
                <div class="row">
                    <label for="">Username </label>
                    <input type="text" placeholder="Enter your username.." ng-model="username">
                </div>
                <div class="row">
                    <label for="">Password </label>
                    <input type="password" placeholder="Enter your password.." ng-model="password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Login</button>
        </form>
        <p>Not yet registered? <a href="#!/register">Register here</a></p>
    </div>
</div>
 -->

<link rel="stylesheet" href="http://bootswatch.com/slate/bootstrap.min.css">

<div class="cover-login">
    <div class="container darkify">
        <h1><a href="#!/">SaveFood</a></h1>
        <div class="row login-form-new">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login via site</h3>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="login()" accept-charset="UTF-8" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input ng-model="username" class="form-control" placeholder="Username" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" ng-model="password" type="password" value="">
                                </div>
                               <!--  <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                    </label>
                                </div> -->
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                            </fieldset>
                        </form>
                        <!-- <hr/>
                        <center>
                            <h4>OR</h4></center>
                        <input class="btn btn-lg btn-facebook btn-block" type="submit" value="Login via facebook"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
