footer
	background-color: #0D1321
	text-align: center
	height: 200px
	color: #ffffff
	padding: 20px
	.container
		margin: 15px auto 15px auto
		font-size: 1.2em
		a
			color: #ffffff
		.contactus
			color: #ff0000
		img
			padding-right: 5px