#foodcategories
	background-color: #BEB8EB
	.container
		padding: 5px
		h4
			text-align: center
		.row
			display: flex
			justify-content: center
			figcaption
				text-align: left
			img
				height: 100px
				width: 140px
				padding: 20px






		@media screen and (min-width: 320px) and (max-width: 768px)
			._foodcategories
				.row
					display: flex
					justify-content: space-between
					h4
						text-align: center
					figcaption
						text-align: center
