.loginContainer
	margin: 30px auto
	text-align: center
	display: flex
	justify-content: center
	form
		legend
			padding: 10px
			font-size: 1.5em
		.form-group
			.row
				font-size: 1.2em
				margin-bottom: 5px
	.row > p
			font-size: 1.2em
			margin-top: 10px
