// $phone: "(min-width: 480px) and (max-width: 768px)"
// $tablet: "(min-width: 768px) and (max-width: 1168px)"

main.jumbotron
	font-weight: bold
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('../images/home/background.jpg')
	background-size: cover
	background-repeat: no-repeat
	height: 600px
	.upper-row
		text-align: justify
		font-family: 'Amatic SC', cursive;

		h2, p
			text-align: center
			color: #fff
			font-size: 50px
		h2
			font-weight: bolder;
			text-shadow: 1px 1px #220022;
			font-size: 100px;
		.explain
			font-family: 'Shadows Into Light', cursive;
			font-size: 37px
		p
			a
				display: block;
				button
					font-size: 50px;
					border-radius: 7px;
					margin-top: 10px;
					padding: 5px 25px;

@media screen and (min-width: 320px) and (max-width: 625px)
	main.jumbotron
		height: 460px
		.upper-row
			h2,p
				font-size: 30px
				font-weight: bold
			h2
				font-size: 40px
			.explain
				font-size: 25px
			p
				a
					button
						font-size: 30px
						margin-top: 5px 
@media screen and (min-width: 626px) and (max-width: 768px)
	main.jumbotron
		height: 525px
		.upper-row
			h2, p
				font-size: 42px
			h2
				font-size: 55px
			.explain
				font-size: 32px
				p
					a
						button
							font-size: 40px
@media screen and (min-width: 768px) and (max-width: 1185px)
	main.jumbotron
		height: 560px
		.upper-row
			h2, p
				font-size: 45px
			h2
				font-size: 70px
			.explain
				font-size: 35px
				p
					a
						button
							font-size: 45px
