.registerContainer
	margin: 30px auto
	padding: 20px
	text-align: center
	legend
		font-size: 1.5em
		padding: 10px
	.form-group .row
		margin-bottom: 5px
		label
			text-align: right
			padding-right: 10px
			font-size: 1.2em
	p
		margin-top: 5px
		font-size: 1.2em