.listitems
	background: url('../images/categories/items.jpg')
	background-size: cover
	background-repeat: no-repeat
	#listsection
		font-weight: bold
		h3
			color: #fff
			font-weight: bolder
			font-size: 1.8em
			text-shadow: 1px 1px #000
			text-decoration: underline
		th
			font-weight: bolder
			font-size: 1.2em
			text-shadow: 1px 1px #E52D2D

.logoff
	color: #000
	font-weight: bold
	display: flex
	justify-content: space-between
	padding: 20px
	.glyphicon-off
		color: #ff1111