.showprofilepage
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../images/categories/night.png')
	background-size: cover
	background-repeat: no-repeat
	.profileContainer
		text-align: center
		color: white
		header
			.statusnav
			    display: flex
			    justify-content: center
			    flex-wrap: wrap
			    padding-top: 20px
			li
				padding-left: 5px
				form
					padding-top: 10px

		aside
			padding: 10px
