/* line 4, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
main {
  font-weight: bold;
  background: url("../images/home/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 620px;
}

/* line 10, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
main .darkify {
  height: 620px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 13, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
main .darkify .container .upper-row {
  text-align: justify;
  font-family: 'Signika Negative';
}

/* line 16, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
main .darkify .container .upper-row h1, main .darkify .container .upper-row h2, main .darkify .container .upper-row p {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

/* line 22, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
main .darkify .container .upper-row h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 80px;
  font-weight: bolder;
  text-shadow: 2px 2px #220022;
  padding: 20px;
}

/* line 28, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
main .darkify .container .upper-row h2 {
  font-family: 'Signika Negative';
  font-size: 50px;
}

/* line 31, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
main .darkify .container .upper-row .explain {
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
  text-shadow: 1px 1px #220022;
}

/* line 37, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
main .darkify .container .upper-row p a {
  display: block;
}

/* line 39, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
main .darkify .container .upper-row p a button {
  font-family: 'Signika Negative';
  font-size: 40px;
  border-radius: 7px;
  margin-top: 20px;
  padding: 5px 25px;
}

@media screen and (min-width: 300px) and (max-width: 520px) {
  /* line 47, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
  main {
    height: 480px;
  }
  /* line 51, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
  main .darkify .container .upper-row h1, main .darkify .container .upper-row h2, main .darkify .container .upper-row p {
    font-size: 30px;
  }
  /* line 53, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
  main .darkify .container .upper-row h1 {
    font-size: 45px;
    font-weight: bold;
  }
  /* line 56, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
  main .darkify .container .upper-row h2 {
    font-size: 35px;
  }
  /* line 58, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
  main .darkify .container .upper-row .explain {
    font-size: 25px;
  }
  /* line 62, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
  main .darkify .container .upper-row p a button {
    font-size: 30px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 521px) and (max-width: 768px) {
  /* line 66, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
  main {
    height: 530px;
  }
  /* line 70, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
  main .darkify .container .upper-row h1, main .darkify .container .upper-row h2, main .darkify .container .upper-row p {
    font-size: 35px;
  }
  /* line 72, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
  main .darkify .container .upper-row h1 {
    font-size: 55px;
  }
  /* line 74, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
  main .darkify .container .upper-row h2 {
    font-size: 40px;
  }
  /* line 76, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
  main .darkify .container .upper-row .explain {
    font-size: 30px;
  }
  /* line 80, /home/bijay007/SaveOurFood/public/stylesheets/sass/_banner.sass */
  main .darkify .container .upper-row .explain p a button {
    font-size: 40px;
  }
}

/* line 1, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
#homeNav {
  background: #000;
  border: 0;
  margin: 0;
  font-family: sans serif;
}

/* line 7, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
#homeNav .container img {
  display: inline-block;
  padding: 8px;
}

/* line 10, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
#homeNav .container .login {
  text-align: right;
  display: inline-block;
  font-size: 1.5em;
  padding: 20px;
  margin: 0 auto;
}

/* line 16, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
#homeNav .container .login li {
  margin: 0 20px;
}

/* line 18, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
#homeNav .container .login li a {
  color: #FFA500;
}

/* line 20, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
#homeNav .container .login li a:hover {
  font-size: 1.025em;
  color: #337ab7;
  text-decoration: none;
}

@media screen and (min-width: 300px) and (max-width: 520px) {
  /* line 28, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
  #homeNav .container img {
    height: 45px;
  }
  /* line 30, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
  #homeNav .container .login {
    font-size: 0.9em;
    padding: 12px;
  }
  /* line 33, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
  #homeNav .container .login li {
    margin: 0 10px;
  }
}

@media screen and (min-width: 521px) and (max-width: 768px) {
  /* line 38, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
  #homeNav .row img {
    height: 50px;
  }
  /* line 40, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
  #homeNav .row .login {
    font-size: 1.1em;
    padding: 15px;
  }
  /* line 43, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
  #homeNav .row .login li {
    margin: 0 13px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1185px) {
  /* line 48, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
  #homeNav .row img {
    height: 60px;
  }
  /* line 50, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
  #homeNav .row .login {
    font-size: 1.3em;
    padding: 18px;
  }
  /* line 53, /home/bijay007/SaveOurFood/public/stylesheets/sass/_navbar.sass */
  #homeNav .row .login li {
    margin: 0 15px;
  }
}

/* line 1, /home/bijay007/SaveOurFood/public/stylesheets/sass/_blockquote.sass */
blockquote {
  font-weight: bolder;
  text-align: center;
  background: #fff;
  padding: 50px 0;
}

/* line 6, /home/bijay007/SaveOurFood/public/stylesheets/sass/_blockquote.sass */
blockquote p {
  font-size: 1.8em;
  font-style: oblique;
  font-family: 'Shadows Into Light', cursive;
  padding: 0 95px;
}

/* line 11, /home/bijay007/SaveOurFood/public/stylesheets/sass/_blockquote.sass */
blockquote .blockquote-footer {
  color: #60594D;
  font-size: normal;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  /* line 16, /home/bijay007/SaveOurFood/public/stylesheets/sass/_blockquote.sass */
  blockquote p {
    font-size: 1.1em;
    padding: 0 25px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  /* line 20, /home/bijay007/SaveOurFood/public/stylesheets/sass/_blockquote.sass */
  blockquote p {
    font-size: 1.5em;
    padding: 0 45px;
  }
}

/* line 1, /home/bijay007/SaveOurFood/public/stylesheets/sass/_howitworks.sass */
.workflow {
  background-color: #7EBDC2;
  margin: 0 auto;
  padding: 30px;
}

/* line 5, /home/bijay007/SaveOurFood/public/stylesheets/sass/_howitworks.sass */
.workflow h4 {
  text-align: center;
  font-weight: bolder;
  font-size: 2em;
  margin: 15px auto 40px;
  font-family: 'Shadows Into Light', cursive;
}

/* line 11, /home/bijay007/SaveOurFood/public/stylesheets/sass/_howitworks.sass */
.workflow .categories {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: baseline;
}

/* line 17, /home/bijay007/SaveOurFood/public/stylesheets/sass/_howitworks.sass */
.workflow .categories img {
  height: 90px;
  margin: 5px auto;
}

/* line 21, /home/bijay007/SaveOurFood/public/stylesheets/sass/_howitworks.sass */
.workflow .categories figcaption {
  font-family: 'Signika Negative';
  font-weight: bolder;
  font-size: 1.2em;
  padding: 10px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  /* line 27, /home/bijay007/SaveOurFood/public/stylesheets/sass/_howitworks.sass */
  .workflow h4 {
    font-size: 1.4em;
    margin: 8px auto;
  }
  /* line 31, /home/bijay007/SaveOurFood/public/stylesheets/sass/_howitworks.sass */
  .workflow .categories img {
    height: 45px;
  }
  /* line 33, /home/bijay007/SaveOurFood/public/stylesheets/sass/_howitworks.sass */
  .workflow .categories figcaption {
    font-size: 1em;
    padding: 5px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  /* line 37, /home/bijay007/SaveOurFood/public/stylesheets/sass/_howitworks.sass */
  .workflow h4 {
    font-size: 1.7em;
    margin: 12px auto;
  }
  /* line 41, /home/bijay007/SaveOurFood/public/stylesheets/sass/_howitworks.sass */
  .workflow .categories img {
    height: 70px;
  }
  /* line 43, /home/bijay007/SaveOurFood/public/stylesheets/sass/_howitworks.sass */
  .workflow .categories figcaption {
    font-size: 1.1em;
    padding: 8px;
  }
}

/* line 1, /home/bijay007/SaveOurFood/public/stylesheets/sass/_footer.sass */
.footerContainer {
  margin-top: auto;
  width: 100%;
  background-color: #0D1321;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}

/* line 9, /home/bijay007/SaveOurFood/public/stylesheets/sass/_footer.sass */
.footerContainer p, .footerContainer i {
  display: inline-block;
  padding: 5px;
}

/* line 12, /home/bijay007/SaveOurFood/public/stylesheets/sass/_footer.sass */
.footerContainer button > a {
  color: #ffffff;
}

/* line 1, /home/bijay007/SaveOurFood/public/stylesheets/sass/_login.sass */
.cover-login {
  background: url("../images/home/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* line 6, /home/bijay007/SaveOurFood/public/stylesheets/sass/_login.sass */
.cover-login i:hover {
  color: #0000ff;
}

/* line 8, /home/bijay007/SaveOurFood/public/stylesheets/sass/_login.sass */
.cover-login h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  color: #fff;
  margin: 50px auto;
}

/* line 15, /home/bijay007/SaveOurFood/public/stylesheets/sass/_login.sass */
.cover-login > .container {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
}

/* line 19, /home/bijay007/SaveOurFood/public/stylesheets/sass/_login.sass */
.cover-login #loginpanel {
  padding: 10px;
}

/* line 21, /home/bijay007/SaveOurFood/public/stylesheets/sass/_login.sass */
.cover-login #loginpanel h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 10px 10px;
  text-shadow: 1px 1px #000;
}

/* line 27, /home/bijay007/SaveOurFood/public/stylesheets/sass/_login.sass */
.cover-login #loginpanel .form-group {
  margin-bottom: 20px;
}

/* line 29, /home/bijay007/SaveOurFood/public/stylesheets/sass/_login.sass */
.cover-login #loginpanel .form-group .form-control {
  padding: 5px 10px;
  font-size: 20px;
}

/* line 32, /home/bijay007/SaveOurFood/public/stylesheets/sass/_login.sass */
.cover-login #loginpanel .btn {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* line 36, /home/bijay007/SaveOurFood/public/stylesheets/sass/_login.sass */
.cover-login #loginpanel p {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

/* line 40, /home/bijay007/SaveOurFood/public/stylesheets/sass/_login.sass */
.cover-login #loginpanel p a {
  font-weight: bold;
}

/* line 42, /home/bijay007/SaveOurFood/public/stylesheets/sass/_login.sass */
.cover-login #loginpanel p a:hover {
  text-decoration: none;
  color: #ffa500;
}

/* line 1, /home/bijay007/SaveOurFood/public/stylesheets/sass/_register.sass */
#registerform {
  background: rgba(0, 0, 0, 0.7) url("../images/home/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: -20px;
}

/* line 7, /home/bijay007/SaveOurFood/public/stylesheets/sass/_register.sass */
#registerform .main {
  margin-top: 70px;
}

/* line 9, /home/bijay007/SaveOurFood/public/stylesheets/sass/_register.sass */
#registerform .main .main-login {
  background-color: #9baaaa;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin: 0 auto;
  max-width: 350px;
  padding: 40px 40px;
}

/* line 17, /home/bijay007/SaveOurFood/public/stylesheets/sass/_register.sass */
#registerform .main .title {
  font-size: 35px;
  font-weight: bolder;
  font-family: 'Shadows Into Light', cursive;
  color: #fff;
}

/* line 22, /home/bijay007/SaveOurFood/public/stylesheets/sass/_register.sass */
#registerform .main .form-group {
  margin-bottom: 15px;
}

/* line 24, /home/bijay007/SaveOurFood/public/stylesheets/sass/_register.sass */
#registerform .main .form-group label {
  margin-bottom: 10px;
  font-size: 18px;
}

/* line 27, /home/bijay007/SaveOurFood/public/stylesheets/sass/_register.sass */
#registerform .main .form-group input {
  font-size: 18px;
  padding: 5px;
}

/* line 30, /home/bijay007/SaveOurFood/public/stylesheets/sass/_register.sass */
#registerform .main .form-group button {
  margin-top: 5px;
}

/* line 32, /home/bijay007/SaveOurFood/public/stylesheets/sass/_register.sass */
#registerform .main .checklogin {
  font-family: 'Signika Negative';
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

/* line 39, /home/bijay007/SaveOurFood/public/stylesheets/sass/_register.sass */
#registerform .main .checklogin a {
  font-weight: bold;
}

/* line 41, /home/bijay007/SaveOurFood/public/stylesheets/sass/_register.sass */
#registerform .main .checklogin a:hover {
  text-decoration: none;
  color: #ffa500;
}

/* line 2, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
aside h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

/* line 6, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond {
  background: #fff;
  border-color: #ccc;
  box-shadow: 0 0 2px 0 #ccc;
}

/* line 10, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond a {
  color: #0d1321;
}

/* line 12, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond ul.navbar-nav a {
  color: #0d1321;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #fff;
}

/* line 17, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond ul.navbar-nav a:hover, nav.navbar-findcond ul.navbar-nav a:visited, nav.navbar-findcond ul.navbar-nav a:focus, nav.navbar-findcond ul.navbar-nav a:active {
  background: #fff;
}

/* line 19, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond ul.navbar-nav a:hover {
  border-color: #0d1321;
}

/* line 21, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond li.divider {
  background: #ccc;
}

/* line 23, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond button.navbar-toggle {
  background: #0d1321;
  border-radius: 2px;
}

/* line 26, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond button.navbar-toggle:hover {
  background: #999;
}

/* line 28, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond button.navbar-toggle > span.icon-bar {
  background: #fff;
}

/* line 30, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond ul.dropdown-menu {
  border: 0;
  background: #fff;
  border-radius: 4px;
  margin: 4px 0;
  box-shadow: 0 0 4px 0 #ccc;
}

/* line 36, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond ul.dropdown-menu > li > a {
  color: #444;
}

/* line 38, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond ul.dropdown-menu > li > a:hover {
  background: #0d1321;
  color: #fff;
}

/* line 42, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond #navbar .badge {
  background: #0d1321;
  color: #fff;
  font-size: 0.9em;
}

/* line 46, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond #navbar .glyphicon-exclamation-sign {
  color: blue;
}

/* line 48, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userprofilebanner.sass */
nav.navbar-findcond #navbar .glyphicon-trash {
  color: #D31212;
}

/* line 1, /home/bijay007/SaveOurFood/public/stylesheets/sass/_foodcategories.sass */
#foodcategories {
  background-color: #BEB8EB;
}

/* line 3, /home/bijay007/SaveOurFood/public/stylesheets/sass/_foodcategories.sass */
#foodcategories h4 {
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  text-decoration: underline;
  padding: 5px;
}

/* line 9, /home/bijay007/SaveOurFood/public/stylesheets/sass/_foodcategories.sass */
#foodcategories .row {
  display: flex;
  justify-content: center;
}

/* line 12, /home/bijay007/SaveOurFood/public/stylesheets/sass/_foodcategories.sass */
#foodcategories .row .itembtn {
  border-radius: 50%;
  margin: 10px auto;
  background-color: #fff;
  padding: 25px;
}

/* line 17, /home/bijay007/SaveOurFood/public/stylesheets/sass/_foodcategories.sass */
#foodcategories .row img {
  height: 80px;
  width: 120px;
  padding: 10px;
}

/* line 21, /home/bijay007/SaveOurFood/public/stylesheets/sass/_foodcategories.sass */
#foodcategories .row figcaption {
  font-size: 1em;
}

/* line 23, /home/bijay007/SaveOurFood/public/stylesheets/sass/_foodcategories.sass */
#foodcategories .row .modal-content {
  background-color: #DCD9CD;
  font-size: 1em;
  font-weight: bold;
}

/* line 27, /home/bijay007/SaveOurFood/public/stylesheets/sass/_foodcategories.sass */
#foodcategories .row .modal-content .modal-body {
  padding: 15px;
}

/* line 29, /home/bijay007/SaveOurFood/public/stylesheets/sass/_foodcategories.sass */
#foodcategories .row .modal-content .modal-body .btn-group button {
  border-radius: 2px;
  margin-right: 10px;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  /* line 35, /home/bijay007/SaveOurFood/public/stylesheets/sass/_foodcategories.sass */
  #foodcategories .row .modal-content ._foodcategories .row {
    display: flex;
    justify-content: space-between;
  }
  /* line 38, /home/bijay007/SaveOurFood/public/stylesheets/sass/_foodcategories.sass */
  #foodcategories .row .modal-content ._foodcategories button {
    padding: 15px;
  }
  /* line 40, /home/bijay007/SaveOurFood/public/stylesheets/sass/_foodcategories.sass */
  #foodcategories .row .modal-content ._foodcategories img {
    height: 55px;
    width: 95px;
    padding: 5px;
  }
}

/* line 2, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userfoodlist.sass */
.listitems #listsection {
  font-weight: bold;
}

/* line 4, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userfoodlist.sass */
.listitems #listsection h3 {
  color: #fff;
  font-weight: bolder;
  font-size: 1.8em;
  text-shadow: 1px 1px #000;
  margin-left: 50px;
}

/* line 10, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userfoodlist.sass */
.listitems #listsection table {
  margin-left: 40px;
  padding: 10px;
}

/* line 13, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userfoodlist.sass */
.listitems #listsection table th {
  font-weight: bolder;
  font-size: 1.2em;
  text-shadow: 1px 1px #E52D2D;
}

/* line 17, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userfoodlist.sass */
.listitems #listsection table td {
  padding: 7px 5px;
}

/* line 19, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userfoodlist.sass */
.logoff {
  color: #000;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* line 25, /home/bijay007/SaveOurFood/public/stylesheets/sass/_userfoodlist.sass */
.logoff .glyphicon-off {
  color: #ff1111;
}

/*# sourceMappingURL=../css/style.map */