<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            </button>
            <a class="navbar-brand" href="#">SaveFood</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation"><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;Expiring soon&nbsp;<span class="badge">{{vm.counterExpiring}}</span></a></li>
                <li role="presentation"><a href="#"><i class="glyphicon glyphicon-trash"></i>&nbsp;Expired&nbsp;<span class="badge">{{vm.counterExpired}}</span></a></li>
                <li role="presentation"><a href="#"><i class="glyphicon glyphicon-leaf"></i>&nbsp;Fresh&nbsp;<span class="badge">{{vm.counterFresh}}</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div style="margin-top:80px; font-size: 30px; text-align: center;">
        <h2>Hi&nbsp;<span>{{vm.userName}}</span>,&nbsp;Good&nbsp;<span>{{vm.day | date:'EEEE'}}</span>&nbsp;<span>{{vm.greetings}}</span><i class="glyphicon glyphicon-apple"></i></h2>
    </div>
</div>


