#foodcategories
	padding: 20px
	h4
		font-family: 'Fredoka One'
		text-align: center
		font-size: 25px
		padding: 15px
	.imagebtn
		button
			border-radius: 5px
			margin: 20px
			background-color: #FFCC6F
			padding: 5px
		img
			height: 80px
			width: 120px
			padding: 10px
		figcaption
			font-size: 1.2em
		// unable to change css inside template inside script -.-
		.modal-header
			font-size: 1.2em
			font-weight: bold
		#modalbody
			p
				padding: 15px
				font-size: 16px
			.btn-group button
				margin-right: 15px
@media screen and (min-width: 300px) and (max-width: 768px)
	#foodcategories
		.imagebtn
			display: flex
			flex-direction: column
			align-items: center
			button
				padding: 10px
				margin: 10px
			img
				height: 55px
				width: 95px
				padding: 5px