// .loginContainer
// 	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/home/loginregister.jpg')
// 	background-size: cover
// 	background-repeat: no-repeat
// 	margin: 80px auto
// 	text-align: center
// 	display: flex
// 	justify-content: center
// 	font-weight: bold
// 	padding: 20px
// 	box-shadow: 8px 8px 4px grey
// 	border-radius: 20px 10px 10px 15px
// 	form
// 		margin: 0 20px
// 		legend
// 			padding: 15px
// 			font-size: 2em
// 			color: rgb(24, 237, 245)
// 			text-shadow: 0.5px 0.5px red
// 		.form-group
// 			.row
// 				font-size: 1.3em
// 				margin-bottom: 10px
// 				input
// 					border-radius: 5px
// 				label
// 					margin-right: 15px
// 					color: #fff
// 	.row > p
// 		font-size: 1.5em
// 		margin-top: 10px
// 		color: rgba(243, 215, 30, 0.96)

// .login-form-new
// 	margin-top: 30px

.cover-login
	background: url('../images/home/banner.jpg')
	background-size: cover
	background-repeat: no-repeat
	height: 100vh
	i:hover
		color: #0000ff
	h2
		font-family: 'Shadows Into Light', cursive
		font-size: 35px
		text-align: center
		color: #fff
	& > .container
		background-color: rgba(0,0,0,0.8)
		height: 100vh
		width: 100vw
	#loginpanel
		.panel-heading
			font-size: 15px
			padding: 5px auto

.white
	color: #000
	background-color: #fff
