aside
	h3
		text-align: center
		font-weight: bold
		font-size: 1.5em
#greetings
	h2
		font-family: 'Russo One'
		margin-top: 80px
		font-size: 30px
		text-align: center

#usernavbar
	box-shadow: 0 0 2px 0 #ccc
	font-size: 16px
	font-weight: bold
	background-color: #0d1321
	img
		height: 35px
		margin-top: -5px
	button.navbar-toggle
		i
			color: #fff
		border-radius: 2px
		&:hover
			background: #008b46
	#navbar
		ul
			margin-bottom: 0
			a
				color: yellow
				border-style: solid
				border-width: 0 0 2px 0
				border-color: #fff
				&:hover
					background: #fff
					color: #000
				&:hover
					border-color: #f00
		li.divider
			background: #ccc
		.badge
			background: #0d1321
			color: #fff
			font-size: 0.9em
		.glyphicon-exclamation-sign
			color: blue
		.glyphicon-trash
			color: #D31212
		.glyphicon-leaf
			color: green
		.glyphicon-off
			color: red