header
	.row
		text-align: center
		color: #E80602
		background-color: #BEB8EB
		.glyphicon-apple
			color: #006400
	#shownums
		display: flex
		justify-content: center
		flex-wrap: wrap
		padding-top: 10px
		padding-bottom: 10px
	li
		padding-left: 5px
		.glyphicon-exclamation-sign
			color: yellow
		.glyphicon-trash
			color: #D31212
		a
			color: #000
			font-size: 1.2em
			font-weight: bold
			.badge
				color: #E80602
				font-weight: bold
				font-size: 0.8em
				background-color: #fff
aside
	background-color: #fff
	h3
		padding-bottom: 5px
		text-align: center
		font-weight: bold
		font-size: 1.5em

nav.navbar-findcond
	background: #fff
	border-color: #ccc
	box-shadow: 0 0 2px 0 #ccc
	a
		color: #0d1321
	ul.navbar-nav a
		color: #0d1321
		border-style: solid
		border-width: 0 0 2px 0
		border-color: #fff
		&:hover, &:visited, &:focus, &:active
			background: #fff
		&:hover
			border-color: #0d1321
	li.divider
		background: #ccc
	button.navbar-toggle
		background: #0d1321
		border-radius: 2px
		&:hover
			background: #999
		> span.icon-bar
			background: #fff
	ul.dropdown-menu
		border: 0
		background: #fff
		border-radius: 4px
		margin: 4px 0
		box-shadow: 0 0 4px 0 #ccc
		> li > a
			color: #444
			&:hover
				background: #0d1321
				color: #fff
	span.badge
		background: #0d1321
		font-weight: normal
		font-size: 11px
		margin: 0 4px
		&.new
			background: rgba(255, 0, 0, 0.8)
			color: #fff