.listitems
	#listsection
		font-weight: bold
		h3
			color: #fff
			font-weight: bolder
			font-size: 1.8em
			text-shadow: 1px 1px #000
			margin-left: 50px
		table
			margin-left: 40px
			padding: 10px
			th
				font-weight: bolder
				font-size: 1.2em
				text-shadow: 1px 1px #E52D2D
			td
				padding: 7px 5px
.logoff
	color: #000
	font-weight: bold
	display: flex
	justify-content: space-between
	padding: 20px
	.glyphicon-off
		color: #ff1111