  <div class="footerContainer">
    <div class="row">
        <div class="col-sm-8">
            <p>Any questions or suggestions ?&nbsp;Check out <a href="https://github.com/bijay007">Github</a></p>
        </div>
        <div class="col-sm-4">
          <p>You can visit us at:</p>
          <a href="https://twitter.com/bjtimi_007"><i class="fa fa-twitter"></i></a>
          <a href="https://medium.com/@bjtimi.007"><i class="fa fa-medium"></i></a>
          <a href="https://bjtimi007.wordpress.com/"><i class="fa fa-wordpress"></i></a>
        </div>
    </div>
  </div>