  <div class="footerContainer">
    <div class="row">
        <div class="col-sm-8">
            <button class="btn btn-success"><a href="#!/profile">API for Devs</a></button>
            <p>Any questions?&nbsp;Feel free to <a href="/contacts">contact us</a></p>
        </div>
        <div class="col-sm-4">
          <p>You can visit us at:</p>
          <a href="twitter.com/bjtimi_007"><i class="fa fa-twitter"></i></a>
          <a href="medium.com/@bjtimi.007"><i class="fa fa-facebook"></i></a>
          <a href="bjtimi007.wordpress.com"><i class="fa fa-youtube-play"></i></a>
        </div>
    </div>
  </div>