<main>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <img src="images/home/logo.png" class="img-responsive">
      <ul class="list-unstyled list-inline pull-right">
        <li class="active">
          <a href="#!/login"><i class="fa fa-sign-in"> Login</i></a>
        </li>
        <li>
          <a href="#!/register"><i class="fa fa-sign-up"> Sign Up</i></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="upper-row col-md-9">
        <h2>Never throw your food again</h2>
        <p class="explain">Do you feel sad when you have to throw food just because they expired? If you ever wished for a personal reminder, SaveTheFood is the solution..</p>
        <p><span>It only takes a minute </span><a href="#!/register"><button class="btn btn-primary"> Try it !!</button></a></p>
    </div>
  </div>
</main>

<!-- user testimonials -->
<blockquote>
  <div class="container-fluid">
    <p class="mb-0 feedback">"This is hands-down the best app ever. It's so fucking good that everyone in my whole family use it. If you don't like this app, you are basically a Trump supporter."</p>
    <div class="blockquote-footer">- Some great guy from <cite>Google HQ</cite></div>
  </div>
</blockquote>
  
<!-- how it works section -->
<section class="workflow">
  <div class="container-fluid">
    <h4>See how our app helps in saving your food, money and ultimately the whole planet</h4>
    <div class="container categories">
      <div class="col-xs-6 col-sm-3">
        <figure class="figure">
          <img src="images/home/groceries.svg" alt="listfood" class="figure-img img-responsive">
          <figcaption class="figure-caption">Buy your groceries with no worries</figcaption>
        </figure>
      </div>
      <div class="col-xs-6 col-sm-3">
        <figure class="figure">
          <img src="images/home/list.svg" alt="reminder" class="figure-img img-responsive">
          <figcaption class="figure-caption">Save the expiry date on app</br>(We set it for you if you forget)</figcaption>
        </figure>
      </div>
      <div class="col-xs-6 col-sm-3">
        <figure class="figure">
          <img src="images/home/alert.svg" alt="savemoney" class="figure-img img-responsive">
          <figcaption class="figure-caption">The app reminds you when expiry day draws near</figcaption>
        </figure>
      </div>
      <div class="col-xs-6 col-sm-3">
        <figure class="figure">
          <img src="images/home/savemoney.svg" alt="savearth" class="figure-img img-responsive">
          <figcaption class="figure-caption">You save food and money</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<footer ng-include src="'templates/footer.html'"></footer>
