<div class="container loginContainer">
    <div class="row">
        <a href="/">Home <i class="glyphicon glyphicon-home"></i></a>
        <form action="/login" method="POST" role="form">
            <legend>Login</legend>
            <div class="form-group">
                <div class="row">
                    <label for="">Username </label>
                    <input type="text" placeholder="Enter your username..">
                </div>
                <div class="row">
                    <label for="">Password </label>
                    <input type="password" placeholder="Enter your password..">
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Login</button>
        </form>
        <p>Not yet registered? <a href="!#/register">Register here</a></p>
    </div>
</div>
