<div class="navbar navbar-default" id="homeNav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="navbar-left col-xs-4 col-sm-3">
        <img src="stylesheets/images/home/logo.png" class="img-responsive">
      </div>
      <div class="col-xs-8 col-sm-9 login">
        <ul class="list-unstyled list-inline">
          <li class="active">
            <a ui-sref="login" class="unstyled"><i class="fa fa-sign-in"></i> Login</a>
          </li>
          <li>
            <a ui-sref="register" class="unstyled"><i class="fa fa-user-plus"></i> Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>