<div class="container registerContainer">
    <div class="row">
        <a href="#!/">Home <i class="glyphicon glyphicon-home"></i></a>
    </div>
    <div class="row">
        <form action="/register" method="POST" role="form">
            <legend>Register New User</legend>
            <div class="form-group">
                <div class="row">
                    <label for="">User Name</label>
                    <input type="text" placeholder="Enter an username..">
                </div>
                <div class="row">
                    <label for="">Password</label>
                    <input type="password" placeholder="Enter a password..">
                </div>
                <div class="row">
                    <label for="">Email</label>
                    <input type="email" placeholder="Enter your email-address..">
                </div>
            </div>
            <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
        </form>
    </div>
    <div class="row">
        <p>Already registered ? <a href="#!/login">Login now</a></p>
    </div>
</div>