<header>
    <!-- main header with greetings and logout-->
    <div class="row">
        <div class="col-sm-7">
            <h2>Hi <span>Bijay</span>, Good <span>Friday</span>&nbsp;<span>evening</span><i class="glyphicon glyphicon-apple"></i></h2>
        </div>
        <div class="col-sm-5" id="shownums">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation"><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Expiring soon <span class="badge">{{vm.counterExpiring}}</span></a></li>
                <li role="presentation"><a href="#"><i class="glyphicon glyphicon-trash"></i> Expired <span class="badge">{{vm.counterExpired}}</span></a></li>
            </ul>
        </div>
    </div>
</header>
<!-- small section that shows current overall condition -->
<aside>
    <!-- small paragraph showing current food condition -->
    <div class="container">
      <h3>
        <span> Some food seem to be expiring soon</span> <i class="glyphicon glyphicon-hand-up"></i>
      </h3>
    </div>
</aside>
<!-- table with list of food items you have -->
<section class="listitems">
    <!-- your list of saved food items -->
    <div class="container table-responsive" id="listsection">
        <table class="table table-hover table-responsive">
            <thead>
                <h3>Your current food list</h3>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Bought On</th>
                    <th>Expiring in</th>
                    <th>We Recommend</th>
                    <th>Current State</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="elem in vm.allFoodItems">
                  <td ng-hide="editMode">{{elem.foodName}}</td>
                  <td ng-hide="editMode">{{elem.quantity}}</td>
                  <td ng-hide="editMode">{{elem.dateBought}}</td>
                  <td ng-hide="editMode">{{elem.dateExpiring}}</td>
                  <td>1 week</td>
                  <td>Fresh <i class="fa fa-smile-o"></i></td> 

                  <!-- shows when editmode activated-->
                      <td ng-show="editMode"><input type="text" ng-model="elem.foodName"/></td>
                      <td ng-show="editMode"><input type="number" ng-model="elem.quantity"/></td>
                      <td ng-show="editMode"><input type="date" ng-model="elem.dateBought"/></td>
                      <td ng-show="editMode"><input type="date" ng-model="elem.dateExpiring"/></td>

                  <td class="text-center">
                    <button ng-hide="editMode" ng-click="editMode = true" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</button>

                    <button ng-show="editMode" ng-click="editMode = false; saveData(elem)" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-ok"></span> Save</button>

                    <button ng-click="vm.removeFood($event,elem._id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                  </td>
              </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- logoff and show more part-->
<div class="actions">
    <div class="container logoff">
        <button>Show me more</button>
        <button><a href="#!/login"><i class="glyphicon glyphicon-off"></i> I'm done</a></button>
    </div>
</div>
<!-- select food from food-catergories-->
<section id="foodcategories">
    <!-- food categories to add to your list -->
    <div class="container">
        <h4>Click on the items to add to list</h4>
        <!-- first row -->
        <div class="row">
        <!-- fruits section -->
          <div class="col-sm-6 col-md-offset-2 col-md-4">
              <button type="button" data-toggle="modal" class="itembtn" data-target=".fruitmodal" ng-click="vm.clickedCategory($event, 'fruitClicked')">
                  <figure class="figure">
                      <img src="../images/categories/fruitsvegs.png" class="img-responsive" alt="fruitsNvegetables">
                      <figcaption class="figure-caption">Fruits N Vegetables</figcaption>
                  </figure>
              </button>
          </div>
        <!-- fruits modal -->
          <div class="modal fade fruitmodal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Add short description</h4>
                </div>
                <!--modal footer with form -->
                <div class="modal-body">
                  <form ng-submit="vm.addFood($event)" action="" method="">
                      <p>Article Name : <input ng-model="vm.foodName" type="text" required></p>
                      <p>Quantity bought :
                        <input ng-model="vm.quantity" type="number" min="0">
                          <select>
                            <option value="kilos">kgs</option>
                            <option value="pieces">pcs</option>
                            <option value="litres">L</option>
                          </select>
                      </p>
                      <p>Expiry Date (if available) :
                        <input ng-model="vm.dateExpiring" type="date">
                      </p>
                      <p>Date bought (default today) :
                        <input ng-model="vm.dateBought" type="date">
                      </p>
                      <div class="btn-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                  </form>
                  </div>
                <!-- end of modal body and form -->
              </div> <!-- end of modal-content -->
            </div> <!-- end of modal-dialog -->
          </div> <!-- end of modal -->
        <!-- milk section -->
          <div class="col-sm-6 col-md-offset-2 col-md-4">
              <button type="button" data-toggle="modal" class="itembtn" data-target=".milkmodal" ng-click="vm.clickedCategory($event, 'milkClicked')">
                  <figure class="figure">
                      <img src="../images/categories/milkegg.png" class="img-responsive" alt="milkNegg">
                      <figcaption class="figure-caption">Milk N Egg</figcaption>
                  </figure>
              </button>
          </div>
        <!-- milk modal -->
          <div class="modal fade milkmodal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add short description</h4>
                  </div>
                  <div class="modal-body">
                      <form ng-submit="vm.addFood($event)" action="" method="">
                        <div class="form-group">
                          <p>Article Name : <input name"foodName" type="text"></p>
                          <p>Quantity bought :
                            <input name="quantity" type="number" min="0">
                              <select>
                                <option value="kilos">kgs</option>
                                <option value="pieces">pcs</option>
                                <option value="litres">L</option>
                              </select>
                          </p>
                          <p>Expiry Date (if available) :
                            <input name="dateExpiring" type="date">
                          </p>
                          <p>Date bought (default today) :
                            <input name="dateBought" type="date">
                          </p>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  <!-- end of modal body and form -->
                  </div> <!-- end of modal-content -->
                </div> <!-- end of modal-dialog -->
              </div> <!-- end of modal -->
          </div>

        <!-- second row-->
        <div class="row">
        <!-- fish section -->
            <div class="col-sm-6 col-md-offset-2 col-md-4">
              <button type="button" data-toggle="modal" ng-click="vm.clickedCategory($event)" class="itembtn" data-target=".fishmodal">
                <figure class="figure">
                  <img src="../images/categories/fishmeat.png" class="img-responsive" alt="fishNmeat">
                  <figcaption class="figure-caption">Fish N Meat</figcaption>
                </figure>
              </button>
            </div>
        <!-- fish modal -->
            <div class="modal fade fishmodal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">Add short description</h4>
                      </div>
                      <div class="modal-body">
                        <form ng-submit="addFood($event)" action="" method="">
                          <p>Article Name : <input ng-model="foodName" type="text"></p>
                          <p>Quantity bought :
                            <input ng-model="quantity" type="number" min="0">
                              <select>
                                <option value="kilos">kgs</option>
                                <option value="pieces">pcs</option>
                                <option value="litres">L</option>
                              </select>
                          </p>
                          <p>Expiry Date (if available) :
                            <input ng-model="dateExpiring" type="date">
                          </p>
                          <p>Date bought (default today) :
                            <input ng-model="dateBought" type="date">
                          </p>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </form>
                      </div>
                      <!-- end of modal body and form -->
                    </div> <!-- end of modal-content -->
                </div> <!-- end of modal-dialog -->
            </div> <!-- end of modal -->
        <!-- canned section -->
            <div class="col-sm-6 col-md-offset-2 col-md-4">
              <button type="button" data-toggle="modal" ng-click="vm.clickedCategory($event)" class="itembtn" data-target=".cannedmodal">
                  <figure class="figure">
                      <img src="../images/categories/frozencanned.png" class="img-responsive" alt="cannedNfrozen">
                      <figcaption class="figure-caption">Canned N Frozen</figcaption>
                  </figure>
              </button>
            </div>
        <!-- canned modal -->
            <div class="modal fade cannedmodal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add short description</h4>
                    </div>
                    <div class="modal-body">
                      <form ng-submit="addFood($event)" action="" method="">
                        <p>Article Name : <input ng-model="foodName" type="text"></p>
                        <p>Quantity bought :
                          <input ng-model="quantity" type="number" min="0">
                            <select>
                              <option value="kilos">kgs</option>
                              <option value="pieces">pcs</option>
                              <option value="litres">L</option>
                            </select>
                        </p>
                        <p>Expiry Date (if available) :
                          <input ng-model="dateExpiring" type="date">
                        </p>
                        <p>Date bought (default today) :
                          <input ng-model="dateBought" type="date">
                        </p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                      </form>
                    </div>
                  <!-- end of modal body and form -->
                </div> <!-- end of modal-content -->
              </div> <!-- end of modal-dialog -->
            </div> <!-- end of modal -->
        </div>

        <!-- third row-->
        <div class="row">
        <!-- drinks section -->
            <div class="col-sm-6 col-md-offset-2 col-md-4">
              <button type="button" data-toggle="modal" ng-click="vm.clickedCategory($event)" class="itembtn" data-target=".oilsmodal">
                  <figure class="figure">
                      <img src="../images/categories/liquidproducts.png" class="img-responsive" alt="drinksNbeverages">
                      <figcaption class="figure-caption">Oils and Beverages</figcaption>
                  </figure>
              </button>
            </div>
        <!-- drinks modal -->
            <div class="modal fade oilsmodal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add short description</h4>
                    </div>
                    <div class="modal-body">
                      <form ng-submit="addFood($event)" action="" method="">
                        <p>Article Name : <input ng-model="foodName" type="text"></p>
                        <p>Quantity bought :
                          <input ng-model="quantity" type="number" min="0">
                            <select>
                              <option value="kilos">kgs</option>
                              <option value="pieces">pcs</option>
                              <option value="litres">L</option>
                            </select>
                        </p>
                        <p>Expiry Date (if available) :
                          <input ng-model="dateExpiring" type="date">
                        </p>
                        <p>Date bought (default today) :
                          <input ng-model="dateBought" type="date">
                        </p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                      </form>
                    </div>
                    <!-- end of modal body and form -->
                  </div> <!-- end of modal-content -->
              </div> <!-- end of modal-dialog -->
            </div> <!-- end of modal -->
        <!-- others section -->
            <div class="col-sm-6 col-md-offset-2 col-md-4">
              <button type="button" data-toggle="modal" ng-click="vm.clickedCategory($event)" class="itembtn" data-target=".othersmodal">
                  <figure class="figure">
                      <img src="../images/categories/others.png" class="img-responsive" alt="others">
                      <figcaption class="figure-caption">Other Unspecified</figcaption>
                  </figure>
              </button>
            </div>
        <!-- others modal -->
          <div class="modal fade othersmodal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add short description</h4>
                    </div>
                    <div class="modal-body">
                      <form ng-submit="addFood($event)" action="/allitems" method="POST">
                        <p>Article Name : <input ng-model="foodName" type="text"></p>
                        <p>Quantity bought :
                          <input ng-model="quantity" type="number" min="0">
                            <select>
                              <option value="kilos">kgs</option>
                              <option value="pieces">pcs</option>
                              <option value="litres">L</option>
                            </select>
                        </p>
                        <p>Expiry Date (if available) :
                          <input ng-model="dateExpiring" type="date">
                        </p>
                        <p>Date bought (default today) :
                          <input ng-model="dateBought" type="date">
                        </p>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                      </form>
                    </div>
                  <!-- end of modal body and form -->
                </div> <!-- end of modal-content -->
              </div> <!-- end of modal-dialog -->
          </div> <!-- end of modal -->
        </div>
    </div>
</section>