<section class="listitems">
    <div class="container table-responsive">
        <table class="table table-hover table-responsive">
            <thead>
                <h3>Your current food list</h3>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Bought On</th>
                    <th>Expiring in</th>
<!--                     <th>We Recommend</th>
 -->                    <th>Current State</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="elem in vm.allFoodItems">
                  <td ng-hide="editMode">{{elem.foodName}}</td>
                  <td ng-hide="editMode">{{elem.quantity}}</td>
                  <td ng-hide="editMode">{{elem.dateBought | date:"longDate"}}</td>
                  <td ng-hide="editMode">{{elem.dateExpiring | date:"longDate"}}</td>
<!--                   <td>1 week</td>
 -->                  <td>Fresh <i class="fa fa-smile-o"></i></td>
                  <!-- shows when editmode activated-->
                  <td ng-show="editMode"><input type="text" ng-model="elem.foodName"/></td>
                  <td ng-show="editMode"><input type="number" ng-model="elem.quantity"/></td>
                  <td ng-show="editMode"><input type="date" ng-model="elem.dateBought"/></td>
                  <td ng-show="editMode"><input type="date" ng-model="elem.dateExpiring"/></td>

                  <td class="text-center">
                    <button ng-hide="editMode" ng-click="editMode = true" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</button>

                    <button ng-show="editMode" ng-click="editMode = false; vm.editFood($event,elem._id,elem.foodName,elem.quantity, elem.dateBought,elem.dateExpiring)" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-ok"></span> Save</button>

                    <button ng-click="vm.removeFood($event,elem._id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                  </td>
              </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- logoff and show more part-->
<div class="actions">
    <div class="container logoff">
        <button class="btn btn-primary">Show me more</button>
        <button class="btn btn-success">
          <a style="color:white" href="" ng-click="$event.preventDefault(); vm.logout()"><i style="color:white" class="glyphicon glyphicon-off"></i>&nbsp; I'm done</a>
        </button>
    </div>
</div>